body {
    margin : auto;
    background: radial-gradient(#006d52, #033b2b);
    background-size: cover;
    font-family:Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

main {
    height: 68vh;
    padding-top: 8vh;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

main div{
    display: inline-block;
    margin-bottom: 4%;    
}

#imagen {
    width: 45vh;
}

#errores {
    height: 6vh;
    width: 70vh;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 2.7vh;
    display: flex;
    align-items: center;
    padding-bottom: 2.5vh;    
}

#errores span{
    width: 1.3vh;
    height: 23%;
    font-size: 3.2vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; 
    padding-left: 10.5%;
}

#texto {
    width: 100%;
    padding-top: 1vh;
    padding-left: 1vh;
    display: inline-block;
}

#palabra_a_adivinar {
    font-size: 1.8vh;
    display: inline-block;
}

#palabra_a_adivinar span{
    height: 1.2em;
    width: 1.2em;
    font-size: 2em;
    border-bottom: 0.6vh solid black;
    padding-top: 17vh;
    vertical-align: bottom;
    text-align: center;
    margin-right: 1.2vh;
    display: inline-block;
}

#jugar{
    background: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin-top: 18vh;
    border: 1px solid rgba(25, 25, 25, 0.1);
    border-radius: 3.3vh;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 2.8vh;
    height: 2.7em;
}

#jugar:hover {
    background: rgba(255, 255, 255, 0.4);
}